// Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media queries
@mixin for-size($size) {
  @if $size ==phone {
    @media (max-width: #{$breakpoint-sm - 1}) {
      @content;
    }
  }

  @else if $size ==tablet {
    @media (max-width: #{$breakpoint-md - 1}) {
      @content;
    }
  }

  @else if $size ==desktop {
    @media (min-width: #{$breakpoint-lg}) {
      @content;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}