// Couleurs
$primary: #000000;

$secondary: #5B564E;
$text: #5B564E;

$background: #EFEBE3;
$border: #CCCCCC;

$color-red: #FB4F0E;
$color-orange: #FF7700;
$color-light-orange: #FCAB00;
$color-yellow: #FCCA00;
$color-dark-blue: #0082E6;
$color-light-blue: #0096ED;

$main-nav-height : 5rem;

// Espacements
$spacing-xxs: 0.3125rem; // 5px
$spacing-xs: 0.625rem; // 10px
$spacing-sm: 1rem; // 16px
$spacing-md: 1.5rem; // 24px
$spacing-lg: 2rem; // 32px
$spacing-xl: 3rem; // 48px
$spacing-xxl: 5rem; // 80px

// Polices
$font-main: 'Urbanist', sans-serif;
$font-heading: 'Averia Sans Libre', sans-serif;

$font-size-sm: 0.75rem; // 12px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 2rem; // 32px
$font-size-xxl: 4rem;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 900px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;


:root {
	--background: #{$background};
	--primary: #{$primary};
	--color-red: #{$color-red};
	--color-orange: #{$color-orange};
	--color-light-orange: #{$color-light-orange};
	--color-yellow: #{$color-yellow};
	--color-dark-blue: #{$color-dark-blue};
	--color-light-blue: #{$color-light-blue};
}