// Importe les variables et mixins EN PREMIER
@use 'variables' as *;
@use 'mixins' as *;

// Styles globaux
:root {
  --primary: $primary;
  --secondary: $secondary;
}

* {
  margin: 0;
  padding: 0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $text;
  background-color: $background;
}


h1 {
  font-family: $font-heading;
  font-size: $font-size-xxl;
}

h2 {
  font-family: $font-heading;
  font-size: $font-size-xl;
}